@import "https://fonts.googleapis.com/css2?family=Shrikhand&display=swap";
@import url("https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #232F3F;
}

.nom {
  font-family: "Rubik Bubbles", cursive;
  color: #FE9900;
  text-align: center;
  font-size: 1.4rem;
  margin: auto;
  margin-top: 20px;
  font-weight: 500px;
}
@media screen and (min-width: 750px) {
  .nom {
    font-size: 4rem;
  }
}

.quiz-app {
  background-color: white;
  border-radius: 20px;
  width: 95%;
  min-height: 60vh;
  margin: auto;
  padding: 10px;
}
@media screen and (min-width: 750px) {
  .quiz-app {
    width: 40%;
  }
}
.quiz-app .quiz-info {
  display: flex;
  background-color: #fff;
  padding: 20px;
}
.quiz-app .quiz-info .count {
  flex: 1;
  text-align: right;
}
.quiz-app .quiz-area {
  background-color: #fff;
  padding: 20px 20px 0;
}
.quiz-app .quiz-area h2 {
  margin: 0;
  padding-top: 10px;
  margin-bottom: 10;
}
.quiz-app .answer-area {
  background-color: #fff;
  padding: 10px;
  border-radius: 2px;
}
.quiz-app .answer-area .answer {
  background-color: #FE9900;
  padding: 15px;
  border-radius: 10px;
}
.quiz-app .answer-area .answer:not(:last-child) {
  border-bottom: 1px solid #dfdfdf;
}
.quiz-app .bullets {
  border-top: 1px solid #dfdfdf;
  background-color: #fff;
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.countdown {
  padding: 15px 20px;
}

.body {
  background-image: url("../img/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
}

.swal-button {
  background-color: #ff9900;
}

.swal-button:not([disabled]):hover {
  background-color: #f5e4ca;
  color: black;
}

h4 {
  color: #FE9900;
  text-align: center;
  margin-top: 7%;
  font-size: 60px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0, 0, 0, 0.5333333333));
  line-height: 0.07em;
  outline: none;
  -webkit-animation: animate 5s linear infinite;
          animation: animate 5s linear infinite;
}

@-webkit-keyframes animate {
  0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92% {
    box-shadow: none;
  }
  18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100% {
    color: #fff;
    text-shadow: 0 0 10px #ff9900, 0 0 20px #ff9900, 0 0 40px #ff9900;
  }
}

@keyframes animate {
  0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92% {
    box-shadow: none;
  }
  18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100% {
    color: #fff;
    text-shadow: 0 0 10px #ff9900, 0 0 20px #ff9900, 0 0 40px #ff9900;
  }
}
.color-secces {
  color: #52e824;
}

.color-fail {
  color: #dc0a0a;
}

.base-timer__label.orange {
  color: rgb(245, 146, 32);
}

.base-timer__label.red {
  color: red;
}

.base-timer__label {
  font-size: 20px;
}

#progressTime {
  border-radius: 10px;
  display: flex;
  align-items: center;
  width: 90%;
  height: 1em;
  margin: auto;
  margin-top: 5px;
}

#BarTime {
  width: 100%;
  height: 100%;
  background-color: #52e824;
  border-radius: 10px;
}

.answer {
  background-color: #f6b83d !important;
  margin-top: 5px;
  cursor: pointer;
}

.bg-red {
  background-color: #fc3249 !important;
}

.bg-green {
  background-color: #11f355 !important;
}

.button-5, .button-6 {
  height: 50px;
  width: 120px;
  margin: 10px 25px;
  border: none;
  outline: none;
  color: #e7f1fa;
  background: #bf8006;
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  top: 70%;
  left: 42%;
}

.button-6 {
  border: none;
  top: 86%;
  left: 48%;
  transform: translate(-50%, -50%);
  background-color: #FF9900;
  color: #fefcf9 !important;
  padding: 6px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
  font-size: 1.5rem;
  border: #bf8006 solid 1px;
  border-radius: 10px;
  cursor: pointer;
}

.button-8 {
  background-color: #FF9900;
  color: #fefcf9 !important;
  padding: 6px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
  font-size: 1.5rem;
  border: #bf8006 solid 1px;
  border-radius: 10px;
  cursor: pointer;
}
.button-8 .button-8:active {
  background-color: #ba7104;
}

.container {
  height: 20vh;
  text-align: center;
  width: 100%;
}

.correctAs {
  margin: auto;
  color: rgb(245, 146, 32);
}

.bg-regulare {
  background-color: #0075ff !important;
}

.avis {
  font-size: large;
  color: rgb(245, 146, 32);
  font-weight: 1000;
}

.img-center {
  margin: auto;
  text-align: center;
  align-items: center;
  display: block;
  width: 100%;
}

.emoji {
  width: 300px;
  margin-top: -80px;
}

ul {
  list-style: none;
  padding-left: 0px;
}

.questionli {
  background-color: #FE9900;
  color: white;
  padding: 5px 21px;
  border-radius: 25px;
}

.reponseli {
  margin-top: 13px;
  background-color: rgb(8, 35, 90);
  color: white;
  padding: 5px 21px;
  border-radius: 25px;
}

.explicationli {
  margin-top: 13px;
  background-color: #eee;
  color: #000;
  padding: 5px 21px;
  border-radius: 25px;
}

.homeinput {
  font-size: 16px;
  position: absolute;
  top: 65%;
  padding: 15px;
  left: 49%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 250px;
  margin-right: 10px;
  background-color: none;
  border: none;
  border: 0px;
  border-radius: 10px;
  outline: none;
}

.btnn {
  position: absolute;
  top: 75%;
  left: 49%;
  transform: translate(-50%, -50%);
  display: flex;
  margin: 0 auto;
}
.btnn button {
  background-color: #FF9900;
  color: #fefcf9 !important;
  padding: 10px;
  font-size: 1.5rem;
  border: #bf8006 solid 1px;
  border-radius: 10px;
}
.btnn button:active {
  background-color: #ba7104;
}/*# sourceMappingURL=style.css.map */